body {
  margin: 0;
  font-family: Calibri;
  background-color: rgb(244, 244, 244);
  color: #333;
}

button{
  width: fit-content;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: #007FFF;
  color:#eee;
  padding: 0.25rem 0.5rem;
}

button:hover{
  cursor: pointer;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}