.appbar {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.25rem 1.5rem;
}

.appbar .logo {
    height: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    color: #eee;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
}

.appbar .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.appbar .actions svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: #666;
}

.appbar .actions svg:hover {
    cursor: pointer;
    fill:#888;
}

.appbar .actions .authButtons {
    color: #007FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.appbar .actions .authButtons span:hover {
    cursor: pointer;
}

.appbar .actions button {
    font-size: 1.2rem;
}