.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}

.content {
    background-color: #111;
    height: fit-content;
    width: 30vw;
    margin: 2rem auto;
    border-radius: 12px;
    padding: 1rem;
    box-sizing: border-box;
}

.content form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.content label {
    font-size: 0.8rem;
    margin-top: 0.75rem;
    font-weight: bold;
}

.content label.tag {
    color: rgb(236, 49, 17);
    margin-top: 0rem !important;
    margin-bottom: 0.5rem !important;
}

.content svg {
    width: fit-content;
    fill: #ddd;
    height: 1.2rem;
    width: 1.2rem;
}

.content textarea,
.content input {
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #333;
    font-size: 0.9rem;
    padding: 0.5rem;
}

.content textarea.error,
.content input.error {
    border-color:rgb(236, 49, 17);
}

.content textarea:focus,
.content input:focus {
    outline: none;
    border-color: #666;
}

.content textarea {
    height: 100px;
    resize: vertical;
}

.content button {
    font-size: 1rem;
    align-self: flex-end;
    margin-top: 0.5rem;
}

input.uploadFile {
    border: none !important;
}